$black: #242F40;
$green: #3CCF8E;
$grey-light: #E4EDF2;
$grey-dark: #5B6B82;
$orange: #FFB34B;
$white: #FFFFFF;
$white-tint: #F5FAFD;


$regular-font: Helvetica, Arial, sans-serif;

$font-size-base: 1.6rem; // Use browser default font-size, usually 16px

// Font Size Variables:
//  6.4rem = 64px,
//  5.0rem = 50px, etc.
$font-size-64: 6.4rem;
$font-size-45: 4.5rem;
$font-size-34: 3.4rem;
$font-size-21: 2.1rem;
$font-size-16: $font-size-base;
$font-size-14: 1.4rem;
$font-size-11: 1.1rem;
$font-size-9: 0.9rem;

//Spacing
$space: 1.5rem;

// Sizes
$header-height: 41px;
$header-margin: 3px;
$subnav-height: 45px;




