@import '../../styles/variables.scss';

$card-height: 400px;
$card-width: 260px;

.card {
  align-self: center;
  align-items: center;
  background-color: $white;
  box-shadow: 0px 0px 20px $grey-light;
  display: flex;
  flex-direction: column;
  height: $card-height;
  justify-content: space-between;
  margin: 0;
  outline: 0px solid transparent;
  padding: $space*2 $space*1.75 $space*4 $space*1.75;
  position: relative;
  width: $card-width;
  transition: all .2s ease-in-out;

  &:hover {
    outline: 2px solid $green;
    transform: scale(1.1);
    z-index: 10;
  }


  @media screen and (min-width: 540px) {
  }

  &__highlight {
    background-color: $orange;
    border-radius: 2px;
    color: $white;
    display: inline-block;
    font-size: $font-size-11;
    padding: $space/4 $space/1.5 $space/8 $space/1.5;
    text-transform: uppercase;

    &--no-background {
      background-color: transparent;
    }

  }

  &__{
    font-size: $font-size-11;
  }

  &__price {

    color: $black;

    &__currency-symbol {
      font-size: $font-size-16;
    }

    &__amount {
      font-size: $font-size-45;
      margin: 0 $space/3;
    }

    &__frequency {
      color: $grey-dark;
    }
  }

  &__list {
    align-self: flex-start;
    color: $grey-dark;
    font-size: $font-size-14;
    list-style: none;
    margin: 0 0 0 $space*1.75;
    text-align: left;

    &__item {
      margin: $space/2 0;
      padding-bottom: 5px;
      position: relative;

      &:before {
        background-image: url('../../static/check-mark-button.svg');
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
        display: inline-block;
        height: 16px;
        left: -26px;
        position: absolute;
        width: 16px;
        top: 3px;
      }
    }
  }

  &__button {
    border: 1px solid $grey-dark;
    border-radius: 4px;
    color: $grey-dark;
    padding: $space/1.5 $space*1.5;
    text-transform: uppercase;
    width: 150px;

    &:hover {
      background-color: $green;
      border-color: $green;
      color: $white;
      cursor: pointer;
    }
  }

}
