@import '../../styles/variables.scss';

.heading {

  margin: auto;
  padding: $space*4 0;
  text-align: center;
  width: 500px;

  @media screen and (max-width: 540px) {
    max-width: 100%;
  }

  &__title {
    font-size: $font-size-34;
    margin-bottom: $space*2;
  }

  &__subtitle {
    color: $grey-dark;
    font-size: $font-size-14;
  }
}
