@import '../../styles/variables.scss';

.button-block {
  border-radius: 3px;
  display: block;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;

  @media screen and (min-width: 540px) {
    display: block;
    width: 300px;
  }

  &__button {
    background-color: $grey-light;
    border: none;
    color: $grey-dark;
    display: block;
    padding: $space $space*3;
    text-transform: uppercase;
    width: 100%;

    @media screen and (min-width: 540px) {
      display: inline-block;
      width: 50%;
    }

    &.active {
      color: $white;
      background-color: $green;
    }

  }



}
